* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: auto;
  height: auto;
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child {
  margin-left: 0;
}
.span-1-of-2 {
  width: 49.2%;
}

/*--------------HEADER-----------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.699)),
    url(img/header-background.jpeg);
  background-size: cover;
  height: 100vh;
  margin-bottom: 50px;
}

.navigation-link {
  list-style: none;
  float: right;
}

.navigation-link li {
  display: inline-block;
  margin-right: 20px;
  padding-top: 15px;
}

.navigation-link li a {
  text-decoration: none;
  color: #fff;
}

/*-------------about-------------*/
